<!DOCTYPE html>
<html lang="en">

<head>
  <title>Newscrape</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script>src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js'</script>
  <script>src='https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.js'</script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="../../assets/css/style.css">
</head>

<body>
	<script id="entry-template" type="text/x-handlebars-template">
		{{{ body }}}
	</script>

	<div class="card-footer text-muted">
	    Newscrape 2018
	</div>
	<script src="../../assets/javascript/index.js"></script>
</body>
</html>